*{margin: 0; padding: 0}

@keyframes bounce-background {
    from {
        background-position: top;
    }
    50% {
        background-position: bottom;
    }
    to {
        background-position: top;
    }
}
main{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/bg_pc.png");
    background-size: cover;
    /*animating background*/
    animation-name: bounce-background;
    animation-timing-function: ease-in-out;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    /* For Chrome & Safari */
    -webkit-animation-name: bounce-background;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-duration:9s;
    -webkit-animation-iteration-count:infinite;
}

article{
    min-height: 550px;
    height: 70%;
    min-width: 400px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 0 2em .5em rgb(28, 28, 28);
}

form{
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    opacity: 0.6;
    font-family: 'Kanit', sans-serif;
}

.form-title h1{
    color: white;
}

fieldset{
    border: none;
}

#lingua{
    width: 340px;
    padding: 5px;
    background-color: rgb(28, 28, 28);
    outline: none;
    border: solid 2px white;
    border-radius: .5em;
    color: white;
}
.lingua, .conteudo-traduzir, .conteudo-traduzido{
    display: flex;
    flex-direction: column;
}
.lingua label, .conteudo-traduzir label, .conteudo-traduzido label{
    padding-bottom: 5px;
}

.conteudo-traduzir, .conteudo-traduzido{
    min-width: 350px;
    width: 90%;
}
textarea{
    height: 100px;
    padding: 7px;
    color: white;
    resize: none;
    outline: none;
    border: solid 2px white;
    border-radius: .5em;
    background-color: rgb(28, 28, 28);
}

#traduzir, #inverter, #copiar{
    margin: 0 10px;
    padding: 5px 10px;
    color: white;
    background-color: rgb(28, 28, 28);
    border: solid 2px white;
    border-radius: .5em;
    cursor: pointer;
    transition: .3s ease-in-out;
}

/*-----===FOOTER===-----*/
footer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 28, 28);
    color: white;
}

@media screen and (max-width: 550px) {
    article{
        min-height: 0;
        height: 100%;
        min-width: 0;
        width: 100%;
        border-radius: 0;
        background-image: url("../img/observador.jpg");
        background-size: cover; 
    }
}

/*-----===EFECTS===-----*/
#traduzir:hover, #inverter:hover, #copiar:hover{
    background-color: white;
    color: rgb(28, 28, 28);
}